<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelt.databasetesting" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipesActivity"
            android:label="@string/title_activity_recipes" >
        </activity>
        <activity
            android:name=".MaltsActivity"
            android:label="@string/title_activity_malts" >
        </activity>
        <activity
            android:name=".HopsActivity"
            android:label="@string/title_activity_hops" >
        </activity>
        <activity
            android:name=".YeastsActivity"
            android:label="@string/title_activity_yeasts" >
        </activity>
    </application>

</manifest>
